name: Deploy NuGet
permissions:
  contents: read
  packages: write

on:
  workflow_dispatch:
    inputs:
      versionSuffix:
        description: 'Optional suffix of package, to indicate it is not a final release'
        required: false
        type: choice
        options:
          - alpha
          - beta
      versionPrefix:
        description: 'Required version of a package, in format MAJOR.MINOR.HOTFIX'
        required: true

env:
  DOTNET_NOLOGO: true     
  CI: true 

jobs:
  push_to_nuget_registry:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup GithubToken
        run: |
          GithubToken=${{ secrets.GITHUB_TOKEN }}
          echo "GithubToken=$GithubToken" >> $GITHUB_ENV

      - name: Setup VersionPrefix
        run: |
          VersionPrefix=${{ github.event.inputs.versionPrefix }}
          echo "VersionPrefix=$VersionPrefix" >> $GITHUB_ENV

      - name: Setup VersionSuffix
        if: ${{ github.event.inputs.versionSuffix != '' }}
        run: |
          VersionSuffix=${{ github.event.inputs.versionSuffix }}
          echo "VersionSuffix=$VersionSuffix" >> $GITHUB_ENV

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 10.0.x

      - name: Restore
        run: dotnet restore authserver.sln

      - name: Build
        run: dotnet build authserver.sln -c Release --no-restore

      - name: Push package to nuget registry
        run: |
          cd src/AuthServer/bin/Release/
          dotnet nuget push "*.nupkg" -s "https://nuget.pkg.github.com/jokk-itu/index.json" -k ${{ secrets.GITHUB_TOKEN }} --skip-duplicate